{% extends "base_generic.html" %}

{% block content %}
  <div class="s01">
      <form action="/ReadText/textToAudio/" method="POST" style="margin-top: -100px">
        {% csrf_token %}
        <fieldset>
          <legend style="margin: 0 auto;margin-bottom: 300px;margin-top: -350px;">EchoForMe</legend>
        </fieldset>
        <div class="inner-form" style="padding-top: 50px;border-top-style: solid;border-top-width: 0px;margin-top: -150px;">
          <div class="input-field first-wrap">
            <input id="text_to_read" type="text" name="text_to_read" placeholder="Enter the text to read" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">Just Read!</button>
          </div>
        </div>
      </form>
    </div>

  <div class="s01">
    <form action="/ReadText/textToAudioNews/" method="GET">
      <div class="inner-form" style="padding-top: 50px;border-top-style: solid;border-top-width: 0px; margin-top: -500px; align-items: center;">
        <div class="input-field third-wrap" style="margin: 0 auto;">
            <button class="btn-search" type="submit">Latest News!</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}