{% extends "base_generic.html" %}

{% block content %}
  <div class="s01">
      <form style="margin-top: -100px">
        {% csrf_token %}
        <fieldset>
          <legend style="margin: 0 auto;margin-bottom: 450px;padding-top: 100px;">EchoForMe</legend>
        </fieldset>
        <div class="inner-form" style="padding-top: 50px;border-top-style: solid;border-top-width: 0px;margin-top: -250px;">
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit" formaction="/ReadText/NormalText/" formmethod="GET">Read Text!</button>
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit" formaction="/ReadText/textToAudioNews/" formmethod="POST">Latest News!</button>
          </div>
        </div>
      </form>
    </div>

  <!-- <div class="s01">
   
  </div> -->
{% endblock %}